html {
	height: 100%;
}

body {
	margin: 0;
	font-family: "Open Sans";
	height: 100%;
}

#wrapper {
	min-height: 100%;
	/*margin-bottom: -17.75em;*/
	/*margin-bottom: -3.25em;*/
}

#wrapper:after {
	/*content: "";
	display: block;*/
	/*height: 17.75em;*/
	/*height: 3.25;*/
}

img {
	max-width: 100%;
}

#header {
	@include container(75em);
}

.logo {
	font-family: montserratbold;
	color: $remio-blue;
	text-transform: uppercase;
	margin: 0;
	padding-top: 2px;
	text-align: center;
}

@media only screen and (min-width: 30em) {
    .logo {
    	@include span(3 of 12);
    	text-align: left;
    }
}

.logo span {
	color: $remio-lightblue;
	padding-left: 0;
	transition: padding-left 400ms;
}

.logo:hover span {
	padding-left: .25em;
	transition: padding-left 400ms;
}

.logo a:link, .logo a:hover, .logo a:visited {
	color: $remio-blue;
	text-decoration: none;
}

#header nav ul {
	margin: 0;
	padding: 0;
}

@media only screen and (min-width: 30em) {

    #header nav {
    	@include span (9 of 12);
    }

    #header nav ul {
    	float: right;
    	padding: .75em 0;
    }
}

#header nav li {
	list-style: none;
}

@media only screen and (min-width: 30em) {
    #header nav li {
    	display: inline-block;
    }
}

#header nav a {
	padding: 1.1em;
	text-decoration: none;
	font-family: montserratlight;
	text-transform: uppercase;
	color: $remio-black;
	font-size: .9em;
	transition: background-color 400ms, color 400ms ease 100ms;
	display: block;
	text-align: center;
}

@media only screen and (min-width: 30em) {
    #header nav a {
    	text-align: left;
    	display: inline;
    }
}

#header nav a:hover {
	background: $remio-blue;
	color: $remio-white;
	transition: background-color 400ms, color 400ms ease 100ms;
}

.masthead {
	background-color: $remio-blue;
	padding: 3em 0;
	min-height: 15em;
}

.container {
	@include container(75em);
}

.masthead h1 {
	color: $remio-white;
	text-transform: uppercase;
	font-family: montserratbold;
	text-align: center;
}

.masthead .masthead-banner {
	margin: auto;
	display: block;
}

.button, button {
	border: 1px solid $remio-white;
	padding: 1em;
	color: $remio-white;
	text-transform: uppercase;
	font-family: montserratlight;
	text-decoration: none;
	text-align: center;
	width: 8em;
	margin: 0 auto;
	display: block;
	transition: border 400ms, color 400ms;
	background-color: transparent;
}

.button:hover, button:hover {
	border: 1px solid $remio-lightblue;
	color: $remio-lightblue;
	transition: border 400ms, color 400ms;
}

.button-hover-dark:hover {
	border: 1px solid $remio-blue;
	color: $remio-blue;
	transition: border 400ms, color 400ms;
}

@media only screen and (min-width: 30em) {

	.info .tagline {
		@include pre(2);
		@include span(8 of 12);
		text-align: center;
		margin-bottom: 2em;
	}

    .info .column {
    	@include span(4 of 12);
    	padding-top: 2em;
    	padding-bottom: 2em;
    }

    .info .column:last-child {
    	@include span(4 of 12 last);
    }

    .info p {
    	/*padding: 0 3em;*/
    	font-size: 14px;
    }

	.info h3 {
		/*padding: 0 3em;*/
		text-align: center;
		font-family: montserratbold;
		text-transform: uppercase;
		font-size: 1em;
	}
}

.info {
	padding: 4em 0;
}

.info .fa-stack {
	font-size: 3em;
	margin: auto;
	display: block;
	color: $remio-blue;
}

.info .fa-stack-1x {
	color: $remio-white;
}

h2 {
	font-family: montserratbold;
	text-transform: uppercase;
	text-align: center;
	color: $remio-black;
}

.clients {
	background-color: #f6f6f6;
	padding: 4em 0;
}

.clients ul {
	margin: 4em 0 0 0;
	padding: 0;
}

.clients li {
	list-style: none;
	/*padding: 1em;*/
}

@media only screen and (min-width: 30em) {

	.clients {
		@include gutter(12);
	}

    .clients li {
		@include gallery(4 of 12);
		margin-bottom: gutter(12);
		/*height: 8em;*/
		/*background-color: #fff;*/
	}
}

.clients img {
	/*margin: 0 auto;*/
	/*display: block;*/
	transition: box-shadow 400ms;
}

.clients img:hover {
	box-shadow: 2px 2px 2px #eee;
	transition: box-shadow 400ms;
}

.testimonial {
	background-color: #f9f9f9;
	@include span(6 at 2 of 12);
	margin: 1em 0;
}

.testimonial img {
	margin: 1em;
	float: left;
}

.testimonial cite {
	font-family: montserratbold;
	font-style: normal;
}

.case-study {
	background-color: $remio-lightblue;
	padding: 2em 0 0;
	/*border-top: 1px solid $remio-blue;*/
}

.case-study h2 {
	color: $remio-white;
}

@media only screen and (min-width: 30em) {
    .case-study .column {
    	@include span(6 of 12);
    }
}

#footerwrapper {
	/*height: 17.75em;*/
	height: 3.25em;
}

#footer {
	min-height: 12.5em;
	background-color: $remio-blue;
	color: $remio-white;
	font-family: montserratlight;
}

@media only screen and (min-width: 30em) {
	#footer .column {
		@include span(3 of 12);
	}
}

#footer h3 {
	font-family: montserratbold;
	color: $remio-white;
	text-transform: uppercase;
	font-size: 1em;
	letter-spacing: 2px;
}

#footer .fa {
	color: $remio-white;
}

#footer a {
	font-family: montserratlight;
	text-decoration: none;
	color: $remio-white;
	font-size: .9em;
}

.recent-posts {
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: .9em;
}

.recent-posts time {
	display: block;
	font-size: .75em;
	margin-bottom: 1em;
	color: $remio-lightblue;
}

#subfooter {
	min-height: 2.5em;
	background-color: $remio-darkblue;
	color: $remio-white;
}

#subfooter p {
	margin: 0;
	padding: 1.5em;
	font-family: montserratlight;
	font-size: .75em;
	text-transform: uppercase;
}

/************************************************
    Contact
************************************************/

label {
	display: block;
	color: $remio-white;
	line-height: 1.5em;
}

input, textarea {
	display: block;
	border: 1px solid #333;
	width: 100%;
	font-size: 16px;
	font-family: "Open Sans";
	margin-bottom: 1em;
	-webkit-appearance: none;
	padding: .5em;
	box-sizing: border-box;
}

.contact {
	background-color: $remio-blue;
	color: $remio-white;
	padding: 4em 0;
}

.contact .col-1 {
	@include span(6 of 12);
}

.contact .col-2 {
	@include span(4 of 12 last);
	@include squish(1);
}

.contact a {
	/*font-family: montserratlight;*/
	text-decoration: none;
	color: $remio-white;
	font-size: .9em;
}

.contact h2 {
	color: $remio-white;
}