/* ==========================================================================
   Base
   ========================================================================== */

html {
	height: 100%;
}

body {
	margin: 0;
	font-family: "Open Sans";
	height: 100%;
}

img {
	max-width: 100%;
}

h2 {
	font-family: montserratbold;
	text-transform: uppercase;
	text-align: center;
	color: $remio-black;
	letter-spacing: 1px;
}

label {
	display: block;
	color: $remio-white;
	line-height: 1.5em;
}

input, textarea {
	display: block;
	border: 1px solid #333;
	width: 100%;
	font-size: 16px;
	font-family: "Open Sans";
	margin-bottom: 1em;
	-webkit-appearance: none;
	padding: .5em;
	box-sizing: border-box;
}

button, .button {
	border: 1px solid $remio-white;
	padding: 1em;
	color: $remio-white;
	text-transform: uppercase;
	font-family: montserratlight;
	text-decoration: none;
	text-align: center;
	width: 8em;
	margin: 0 auto;
	display: block;
	transition: border 400ms, color 400ms;
	background-color: transparent;
}

button:hover, .button:hover {
	border: 1px solid $remio-lightblue;
	color: $remio-lightblue;
	transition: border 400ms, color 400ms;
}

/* ==========================================================================
   Layout
   ========================================================================== */

#wrapper {
	min-height: 100%;
}

section {
	padding: 4em 0;
}

section:first-child {
	margin-top: 0;
	padding-top: 0;
}

.container {
	@include container(75em);
	margin: 0 auto;
	padding: 0 1em;
}

#header .container {
	margin: 0 auto;
	padding: 0;
}

#footerwrapper {
	height: 3.25em;
}

.l-3-cols .column {
	@include span(4 of 12);
}

/* ==========================================================================
   Modules
   ========================================================================== */

/* Branding */

.logo {
	font-family: montserratbold;
	color: $remio-blue;
	text-transform: uppercase;
	margin: 0;
	padding-top: 2px;
	text-align: center;
}

@media only screen and (min-width: 30em) {
    .logo {
    	@include span(3 of 12);
    	text-align: left;
    }
}

.logo span {
	color: $remio-lightblue;
	padding-left: 0;
	transition: padding-left 400ms;
}

.logo:hover span {
	padding-left: .25em;
	transition: padding-left 400ms;
}

.logo a:link, .logo a:hover, .logo a:visited {
	color: $remio-blue;
	text-decoration: none;
}

/* Header */

#header {
	background-color: $remio-white;
}

#header nav ul {
	margin: 0;
	padding: 0;
}

@media only screen and (min-width: 30em) {

    #header nav {
    	@include span (9 of 12);
    }

    #header nav ul {
    	float: right;
    	padding: .75em 0;
    }
}

#header nav li {
	list-style: none;
}

@media only screen and (min-width: 30em) {
    #header nav li {
    	display: inline-block;
    }
}

#header nav a {
	padding: 1.1em;
	text-decoration: none;
	font-family: montserratlight;
	text-transform: uppercase;
	color: $remio-black;
	font-size: .9em;
	transition: background-color 400ms, color 400ms ease 100ms;
	display: block;
	text-align: center;
}

@media only screen and (min-width: 30em) {
    #header nav a {
    	text-align: left;
    	display: inline;
    }
}

#header nav a:hover {
	background: $remio-blue;
	color: $remio-white;
	transition: background-color 400ms, color 400ms ease 100ms;
}

/* Banner */

.masthead {
	background-color: $remio-blue;
}

.masthead h1 {
	color: $remio-white;
	text-transform: uppercase;
	font-family: montserratbold;
	text-align: center;
	margin-top: 2em;
}


/* Info */

@media only screen and (min-width: 30em) {

	.info .tagline, #why .tagline {
		@include pre(2);
		@include span(8 of 12);
		text-align: center;
		margin-bottom: 2em;
	}

    .info .column {
    	@include span(4 of 12);
    	padding-top: 2em;
    	padding-bottom: 2em;
    }

    .info .column:last-child {
    	@include span(4 of 12 last);
    }

    .info p {
    	font-size: 14px;
    }

	.info h3 {
		text-align: center;
		font-family: montserratbold;
		text-transform: uppercase;
		font-size: 1em;
	}
}

.info {
	padding: 4em 0;
	/*background-color: #f6f6f6;*/
}

.info .fa-stack {
	font-size: 3em;
	margin: auto;
	display: block;
	color: $remio-blue;
}

.info .fa-stack-1x {
	color: $remio-white;
}

/* Clients */

.clients {
	background-color: #f6f6f6;
	padding: 4em 0;
}

.clients ul {
	margin: 4em 0 0 0;
	padding: 0;
}

.clients li {
	list-style: none;
}

@media only screen and (min-width: 30em) {

	.clients {
		@include gutter(12);
	}

    .clients li {
		@include gallery(4 of 12);
		margin-bottom: gutter(12);
	}

}

.clients img {
	transition: box-shadow 400ms;
}

.clients img:hover {
	box-shadow: 2px 2px 2px #eee;
	transition: box-shadow 400ms;
}

/* Team */

.team {
	background: url(../img/contact.jpg) repeat;
	color: #fff;
}

.team h2 {
	color: $remio-white;
}

.team ul {
	padding: 0;
	margin-top: 4em;
}

.team li {
	list-style: none;
	text-align: center;
	margin-bottom: gutter(12);
}

.team img {
	/*border: 1px solid #ccc;*/
}

.team .name {
	font-family: montserratlight;
	text-transform: uppercase;
	font-size: 1em;
	margin-bottom: 0;
}

.team .title {
	display: block;
	margin: 0;
	font-size: .75em;
}

@media only screen and (min-width: 30em) {

	.team {
		@include gutter(12);
	}

    .team li {
		@include gallery(3 of 12);
		margin-bottom: gutter(12);
	}

}

/* Why */

#why {
	background-color: #f6f6f6;
}

#why > .container > p {
	@include pre(2);
	@include post(2);
	@include span(8 of 12);
	text-align: center;
	margin-bottom: 2em;
}

#why ul {
	list-style: none;
	padding: 0;
}

@media only screen and (min-width: 30em) {
	#why li {
		@include gallery(3 of 12);
	}

	#why ul {
		background: url(../img/why.png) no-repeat bottom right;
	}
}

#why h3 {
	margin: 0;
	font-size: 1em;
	font-family: montserratlight;
	text-transform: uppercase;
}

#why ul p {
	font-size: 80%;
	margin: .25em 0 2em;
	/*text-align: justify;*/
}

/* Footer */

#footer {
	min-height: 12.5em;
	background-color: $remio-blue;
	color: $remio-white;
	font-family: montserratlight;
}

#footer h3 {
	font-family: montserratbold;
	color: $remio-white;
	text-transform: uppercase;
	font-size: 1em;
	letter-spacing: 2px;
}

#footer .fa {
	color: $remio-white;
}

#footer a {
	font-family: montserratlight;
	text-decoration: none;
	color: $remio-white;
	font-size: .9em;
}

#subfooter {
	min-height: 2.5em;
	background-color: $remio-darkblue;
	color: $remio-white;
}

#subfooter p {
	margin: 0;
	padding: 1.5em;
	font-family: montserratlight;
	font-size: .75em;
	text-transform: uppercase;
}

/************************************************
    Contact
************************************************/

.contact {
	background-color: $remio-blue;
	color: $remio-white;
	padding: 4em 0;
}

@media only screen and (min-width: 30em) {

	.contact .col-1 {
		@include span(6 of 12);
	}

	.contact .col-2 {
		@include span(4 of 12 last);
		@include squish(1);
	}

	.input-half {
		@include span(3 of 6);
		padding-left: 0;
	}

	.input-half.last {
		@include span(3 of 6);
		padding-right: 0;
	}

}

.contact a {
	text-decoration: none;
	color: $remio-white;
	font-size: .9em;
}

.contact h2 {
	color: $remio-white;
}

.contact .fa {
	margin-right: 1em;
}

/* Quotes */

blockquote {
	margin-top: 2em;
	@include span(8 of 12);
	@include squish(2);
}

blockquote p {
	font-size: 1em;
}

blockquote cite {
	float: right;
	font-family: montserratlight;
	text-transform: uppercase;
	font-size: 1em;
}

/* Misc stuff right now */

.button-hover-dark:hover {
	border: 1px solid $remio-blue;
	color: $remio-blue;
	transition: border 400ms, color 400ms;
}

.recent-posts {
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: .9em;
}

.recent-posts time {
	display: block;
	font-size: .75em;
	margin-bottom: 1em;
	color: $remio-lightblue;
}


@media only screen and (min-width: 30em) {
	#footer .column {
		@include span(3 of 12);
	}
}