body {
	margin: 0;
	font-family: montserratlight;
}

#header {
	@include container(75em);
}

#header h1 {
	@include span(3 of 12);
	font-family: montserratbold;
	color: $remio-blue;
	text-transform: uppercase;
	margin: 0;
}

#header h1 span {
	color: $remio-lightblue;
}

#header nav {
	@include span (9 of 12);
}

#header nav ul {
	float: right;
	margin: 0;
	padding: .75em 0;
}

#header nav li {
	display: inline-block;
	list-style: none;
}

#header nav a {
	padding: 1em;
	text-decoration: none;
	font-family: montserratlight;
	text-transform: uppercase;
	color: $remio-black;
	font-size: .9em;
}

#header nav a:hover {
	background: $remio-darkblue;
	color: $remio-white;
}

.masthead {
	background-color: $remio-blue;
	padding: 3em 0;
}

.container {
	@include container(75em);
}

.masthead h1 {
	color: $remio-white;
	text-transform: uppercase;
	font-family: montserratbold;
	text-align: center;
}

.masthead .masthead-banner {
	margin: auto;
	display: block;
}

.masthead .learn-more {
	border: 1px solid $remio-white;
	padding: 1em;
	color: $remio-white;
	text-transform: uppercase;
	font-family: montserratlight;
	text-decoration: none;
	text-align: center;
	width: 8em;
	margin: 0 auto;
	display: block;
}

.info .column {
	@include span(4 of 12);
	padding: 2em 0;
}

.info p {
	padding: 0 3em;
}

.info .fa-stack {
	font-size: 3em;
	margin: auto;
	display: block;
	color: $remio-blue;
}

.info .fa-stack-1x {
	color: $remio-white;
}

.clients h2 {
	font-family: montserratbold;
	text-transform: uppercase;
	text-align: center;
	color: $remio-black;
}

.clients ul {
	margin: 0;
	padding: 0;
}

.clients li {
	list-style: none;
	@include span(4 of 12);
}

.clients img {
	margin: 0 auto;
	display: block;
}

.testimonial {
	background-color: #f9f9f9;
	@include span(12 of 12);
	margin: 1em 0;
}

#footer {
	min-height: 200px;
	background-color: $remio-blue;
}

#footer .column {
	@include span(3 of 12);
}

#footer h3 {
	font-family: montserratbold;
	color: $remio-white;
	text-transform: uppercase;
	font-size: 1em;
}

#subfooter {
	min-height: 2.5em;
	background-color: $remio-darkblue;
	color: $remio-white;
}

#subfooter p {
	margin: 0;
	padding: 1.5em;
	font-family: montserratlight;
	font-size: .75em;
	text-transform: uppercase;
}