{% include header.html %}
<div class="masthead">
	<div class="container">
		<img class="masthead-banner" src="img/masthead.png" alt="">
		<h1>Bespoke Salesforce Development.</h1>
		<a class="button" href="#">Learn More</a>
	</div>
</div>
<div class="info">
	<div class="container">
		<div class="column">
			<span class="fa-stack fa-lg">
				<i class="fa fa-circle fa-stack-2x"></i>
				<i class="fa fa-life-ring fa-stack-1x"></i>
			</span>
			<p>Ac a non habitasse vulputate vestibulum libero quis a a interdum at a erat adipiscing condimentum et hendrerit suscipit parturient vestibulum id non. Et laoreet suspendisse purus cubilia auctor vehicula orci massa venenatis ac mauris a est praesent.</p>
		</div>
		<div class="column">
			<span class="fa-stack fa-lg">
				<i class="fa fa-circle fa-stack-2x"></i>
				<i class="fa fa-camera fa-stack-1x"></i>
			</span>
			<p>Ac a non habitasse vulputate vestibulum libero quis a a interdum at a erat adipiscing condimentum et hendrerit suscipit parturient vestibulum id non. Et laoreet suspendisse purus cubilia auctor vehicula orci massa venenatis ac mauris a est praesent.</p>
		</div>
		<div class="column">
			<span class="fa-stack fa-lg">
				<i class="fa fa-circle fa-stack-2x"></i>
				<i class="fa fa-database fa-stack-1x"></i>
			</span>
			<p>Ac a non habitasse vulputate vestibulum libero quis a a interdum at a erat adipiscing condimentum et hendrerit suscipit parturient vestibulum id non. Et laoreet suspendisse purus cubilia auctor vehicula orci massa venenatis ac mauris a est praesent.</p>
		</div>
	</div>
</div>
<div class="clients">
	<div class="container">
		<h2>Satisfied Clients</h2>
		<ul>
			<li><a href="#"><img src="img/harvard.png" alt="Harvard"></a></li>
			<li><a href="#"><img src="img/readingplus.png" alt="Reading Plus"></a></li>
			<li><a href="#"><img src="img/general-assembly.png" alt="General Assembly"></a></li>
			<li><a href="#"><img src="img/tasc.png" alt="The Alliance for Solar Choice"></a></li>
			<li><a href="#"><img src="img/education-dynamics.png" alt="Education Dynamics"></a></li>
			<li><a href="#"><img src="img/uconn.png" alt="Unniversity of Connecticut"></a></li>
		</ul>
		<div class="testimonial">
			<blockquote>Remio is the best!</blockquote>
		</div>
	</div>
</div>
<div class="case-study">
	<div class="container">
		<h2>Case Study</h2>
		<div class="column">
			<p>Sagittis ac fermentum parturient at leo lectus eu feugiat sociosqu in taciti ad dis a a. Ac a non habitasse vulputate vestibulum libero quis a a interdum at a erat adipiscing condimentum et hendrerit suscipit parturient vestibulum id non. Et laoreet suspendisse purus cubilia auctor vehicula orci massa venenatis ac mauris a est praesent. Vel per turpis fermentum per ultricies parturient iaculis a facilisi sit varius ligula ipsum nostra himenaeos penatibus.</p>
			<a class="button button-hover-dark" href="#">Read More</a>
		</div>
		<div class="column"><p>123</p></div>
	</div>
</div>
{% include footer.html %}