{% include header.html %}
<div class="masthead">
	<div class="container">
		<img class="masthead-banner" src="img/masthead.png" alt="">
		<h1>Bespoke Salesforce Development.</h1>
		<a class="learn-more" href="#">Learn More</a>
	</div>
</div>
<div class="info">
	<div class="container">
		<div class="column-1">
			<p>Ac a non habitasse vulputate vestibulum libero quis a a interdum at a erat adipiscing condimentum et hendrerit suscipit parturient vestibulum id non. Et laoreet suspendisse purus cubilia auctor vehicula orci massa venenatis ac mauris a est praesent.</p>
		</div>
		<div class="column-2">
			<p>Ac a non habitasse vulputate vestibulum libero quis a a interdum at a erat adipiscing condimentum et hendrerit suscipit parturient vestibulum id non. Et laoreet suspendisse purus cubilia auctor vehicula orci massa venenatis ac mauris a est praesent.</p>
		</div>
		<div class="column-3">
			<p>Ac a non habitasse vulputate vestibulum libero quis a a interdum at a erat adipiscing condimentum et hendrerit suscipit parturient vestibulum id non. Et laoreet suspendisse purus cubilia auctor vehicula orci massa venenatis ac mauris a est praesent.</p>
		</div>
	</div>
</div>
<div class="clients">
	<div class="container">
		<h2>Satisfied Clients</h2>
		<ul>
			<li><a href="#"><img src="http://placehold.it/300x100" alt=""></a></li>
			<li><a href="#"><img src="http://placehold.it/300x100" alt=""></a></li>
			<li><a href="#"><img src="http://placehold.it/300x100" alt=""></a></li>
			<li><a href="#"><img src="http://placehold.it/300x100" alt=""></a></li>
			<li><a href="#"><img src="http://placehold.it/300x100" alt=""></a></li>
			<li><a href="#"><img src="http://placehold.it/300x100" alt=""></a></li>
		</ul>
		<div class="testimonial">
			<blockquote>Remio is the best!</blockquote>
		</div>
	</div>
</div>
<div class="content">
	<div class="container">
        {{ content }}
	</div>
</div>
{% include footer.html %}