{% include header.html %}
<section class="masthead">
	<div class="container">
		<img class="masthead-banner center wow fadeInLeft" src="img/masthead.png" alt="">
		<h1>Intelligent Salesforce Design.</h1>
		<!-- <a class="button" href="#">Learn More</a> -->
	</div>
</section>
<section class="info" id="services">
	<div class="container">
		<h2>Services</h2>
		<div class="tagline clearfix">
			<p>Development services include custom systems configured to client specifications, to achieve unique solutions to complex challenges including:</p>
		</div>
	</div>
	<div class="container">
		<div class="column">
			<span class="fa-stack fa-lg">
				<i class="fa fa-circle fa-stack-2x"></i>
				<i class="fa fa-cubes fa-stack-1x"></i>
			</span>
			<h3>Advanced Architecture</h3>
			<p>We’re experts in building scalable systems to make your concept a reality. Our highly skilled technical team creates innovative, adaptable, and flexible solutions required by challenging, dynamic environments.</p>
		</div>
		<div class="column">
			<span class="fa-stack fa-lg">
				<i class="fa fa-circle fa-stack-2x"></i>
				<i class="fa fa-arrows-h fa-stack-1x"></i>
			</span>
			<h3>Integration</h3>
			<p>Integration with existing systems multiplies the value of the investment you’ve already made. We can set up a pipeline from legacy systems into your Salesforce org for true integration and collaboration.</p>
		</div>
		<div class="column">
			<span class="fa-stack fa-lg">
				<i class="fa fa-circle fa-stack-2x"></i>
				<i class="fa fa-server fa-stack-1x"></i>
			</span>
			<h3>Data</h3>
			<p>Data is most actionable when it's all in one place. Our data management services give you a 360 degree view of what’s really going on. With data repair, migration, and de-duplication services, our data masters have you covered.</p>
		</div>
		<div class="column">
			<span class="fa-stack fa-lg">
				<i class="fa fa-circle fa-stack-2x"></i>
				<i class="fa fa-users fa-stack-1x"></i>
			</span>
			<h3>Communities</h3>
			<p>Connect with your constituencies in real and meaningful ways through Communities. We’ve built Partner and Customer communities that allow organizations to align, thrive, and grow.</p>
		</div>
		<div class="column">
			<span class="fa-stack fa-lg">
				<i class="fa fa-circle fa-stack-2x"></i>
				<i class="fa fa-gear fa-stack-1x"></i>
			</span>
			<h3>Advanced Customization</h3>
			<p>No code? No problem. Our team has deep knowledge of Salesforce's customization options and can can accomplish many of your goals with no developer support necessary.</p>
		</div>
		<div class="column">
			<span class="fa-stack fa-lg">
				<i class="fa fa-circle fa-stack-2x"></i>
				<i class="fa fa-line-chart fa-stack-1x"></i>
			</span>
			<h3>Marketing Automation</h3>
			<p>Want to buy and sell like Amazon? We can help. Our marketing software and tactics experts know how to nurture prospects with highly personalized, useful content that helps convert prospect to customers and generate new revenue streams. </p>
		</div>
	</div>
</section>
<section id="why">
	<div class="container">
		<h2>Why Remio?</h2>
		<div class="tagline clearfix">
			<p>Working with a boutique SAAS development partner isn’t for everyone. If you’re looking for reliable, innovative, and transformative solutions, Remio is for you. Here’s why:  </p>
		</div>
		<ul class="clearfix">
			<li>
				<h3>Real Experience</h3>
				<p>We’ve been around the block. Our team has deep and wide experience not just in tech, but in business leadership, marketing and third-sector management. We know how to anticipate system needs years down the road, and support continuous process improvement.</p>
			</li>
			<li>
				<h3>Senior, Certified Experts</h3>
				<p>Our team is 100% Salesforce certified, with plenty of other accolades as well. We’re not a crew of contractors doing one-off business. We seek to build relationships that will create meaningful transformation and valuable outcomes.</p>
			</li>
			<li>
				<h3>Big Picture</h3>
				<p>Business process alignment and change management support take your tech to the next level. New data resources are underutilized and ineffective when they don’t support the big picture. We can help you  align your tech your needs.</p>
			</li>
			<li>
				<h3>Here When You Need Us</h3>
				<p>We’re an on-shore team offering full lifecycle support. We can help from initial startup, to innovative design, to ongoing maintenance to ensure your long-term success. We work collaboratively with our</p>
			</li>
			<li>
				<h3>Network of Partners</h3>
				<p>Don’t go it alone. Achieving success today requires a network of connections to get the job done. From marketing automation to integrations with telephony and custom search, we have the resources to make highly technical functionality seamless.</p>
			</li>
			<li>
				<h3>Agile</h3>
				<p>Our project management resources keep you in the loop and in the lead.We leverage the continuous improvement benefits of agile software development. We’re able to respond rapidly and flexibly to your needs, ensuring the end result truly meets your needs.</p>
			</li>
		</ul>
	</div>
</section>
<section class="team" id="team">
	<div class="container">
		<h2>Our Team</h2>
		<ul class="clearfix wow fadeInDown">
			<li>
				<img src="/img/ned.jpg" alt="">
				<h3 class="name">Ned Liddell</h3>
				<span class="title">System Designer</span>
			</li>
			<li>
				<img src="/img/chuck.jpg" alt="">
				<h3 class="name">Chuck Liddell</h3>
				<span class="title">Lead Developer</span>
			</li>
<!-- 			<li>
				<img src="/img/brian.jpg" alt="">
				<h3 class="name">Brian Roff</h3>
				<span class="title">Administrator</span>
			</li> -->
			<li>
				<img src="/img/julie.jpg" alt="">
				<h3 class="name">Julie Workman</h3>
				<span class="title">Configuration Specialist</span>
			</li>
			<li>
				<img src="/img/matt.jpg" alt="">
				<h3 class="name">Matt Chinnock</h3>
				<span class="title">Developer</span>
			</li>
			<li>
				<img src="/img/nate.jpg" alt="">
				<h3 class="name">Nathan Phillips</h3>
				<span class="title">Developer</span>
			</li>
			<li>
				<img src="/img/scott.jpg" alt="">
				<h3 class="name">Scott Ferguson</h3>
				<span class="title">Business Manager</span>
			</li>
			<li>
				<img src="/img/boris.jpg" alt="">
				<h3 class="name">Boris Krasko</h3>
				<span class="title">Pardot Specialist</span>
			</li>
			<li>
				<img src="/img/bonnie.jpg" alt="">
				<h3 class="name">Bonnie Blake</h3>
				<span class="title">Higher Ed Consultant</span>
			</li>
		</ul>
	</div>
</section>
<!-- <section class="clients" id="portfolio">
	<div class="container">
		<h2>Recent Clients</h2>
		<ul class="clearfix">
			<li class="wow fadeInLeft"><a href="#"><img src="img/readingplus.jpg" alt="Reading Plus"></a></li>
			<li class="wow fadeInDown"><a href="#"><img src="img/general-assembly.jpg" alt="General Assembly"></a></li>
			<li class="wow fadeInRight"><a href="#"><img src="img/tasc.jpg" alt="The Alliance for Solar Choice"></a></li>
			<li class="wow fadeInLeft"><a href="#"><img src="img/education-dynamics.jpg" alt="Education Dynamics"></a></li>
			<li class="wow fadeInUp"><a href="#"><img src="img/uconn.jpg" alt="Unniversity of Connecticut"></a></li>
		</ul>
	</div>
</section> -->
<!-- <section>
	<div class="container">
		<h2>What They Say</h2>
		<blockquote class="wow fadeInRight">
			<p>Remio is pretty much the best company ever and you should contact them with any of your needs, including design, salesforcing, theme song writing, theme song playing, frog racing, and rap battles.</p>
			<cite>MC Hammer</cite>
		</blockquote>
	</div>
</section> -->
<section class="contact" id="contact">
	<div class="container">
		<h2>Let's Talk.</h2>
		<div class="col-1">
			<form accept-charset="UTF-8" action="https://www.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8" method="POST">
			  <input type=hidden name="oid" value="00Dj0000001pUew">
		      <input type=hidden name="retURL" value="http://www.remio.com/submitted.html">
			  <label for="last_name">Name</label>
			  <div class="input-half">
			  	<input type="text" name="first_name" placeholder="First">
			  </div>
			  <div class="input-half last">
			  	<input type="text" name="last_name" placeholder="Last">
			  </div>
			  <label for="email">Email</label>
			  <input type="email" name="email">
			  <label for="message">Message</label>
			  <textarea name="message"></textarea>
			  <button type="submit">Submit</button>
			</form>
		</div>
		<div class="col-2">
			<p>We want to know more about your challenges. Give us a shout out and let us show you how our team can help create innovative solutions customized to your needs.</p>
			<i class="fa fa-envelope"></i> <a href="mailto:sales@remio.com">sales@remio.com</a><br />
			<i class="fa fa-twitter"></i> <a href="http://twitter.com/teamremio">@teamremio</a><br />
			<i class="fa fa-github"></i> <a href="http://github.com/teamremio">github.com/teamremio</a><br />
		</div>
	</div>
</section>
{% include footer.html %}