{% include header.html %}
<div class="masthead">
	<div class="container">
		<img class="masthead-banner" src="img/masthead.png" alt="">
		<h1>Bespoke Salesforce Development.</h1>
		<a class="button" href="#">Learn More</a>
	</div>
</div>
<div class="info" id="services">
	<div class="container">
		<h2>Services</h2>
		<div class="tagline clearfix">
			<p>But the spine. For that, the best way we can consider it is, with a crane, to pile its bones high up on end. No speedy enterprise. But now it’s done, it looks much like Pompey’s Pillar.</p>
		</div>
	</div>
	<div class="container">
		<div class="column">
			<span class="fa-stack fa-lg">
				<i class="fa fa-circle fa-stack-2x"></i>
				<i class="fa fa-life-ring fa-stack-1x"></i>
			</span>
			<h3>Large-Scale Architecture</h3>
			<p>But the spine. For that, the best way we can consider it is, with a crane, to pile its bones high up on end. No speedy enterprise. But now it’s done, it looks much like Pompey’s Pillar.</p>
			<p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus.</p>
		</div>
		<div class="column">
			<span class="fa-stack fa-lg">
				<i class="fa fa-circle fa-stack-2x"></i>
				<i class="fa fa-camera fa-stack-1x"></i>
			</span>
			<h3>Precision Development</h3>
			<p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus.</p>
			<p>But the spine. For that, the best way we can consider it is, with a crane, to pile its bones high up on end. No speedy enterprise. But now it’s done, it looks much like Pompey’s Pillar.</p>

		</div>
		<div class="column">
			<span class="fa-stack fa-lg">
				<i class="fa fa-circle fa-stack-2x"></i>
				<i class="fa fa-database fa-stack-1x"></i>
			</span>
			<h3>Project Management</h3>
			<p>But the spine. For that, the best way we can consider it is, with a crane, to pile its bones high up on end. No speedy enterprise. But now it’s done, it looks much like Pompey’s Pillar.</p>

			<p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus.</p>
		</div>
	</div>
</div>
<div class="clients" id="portfolio">
	<div class="container">
		<h2>Satisfied Clients</h2>
		<ul class="clearfix">
			<li><a href="#"><img src="img/harvard.jpg" alt="Harvard"></a></li>
			<li><a href="#"><img src="img/readingplus.jpg" alt="Reading Plus"></a></li>
			<li><a href="#"><img src="img/general-assembly.jpg" alt="General Assembly"></a></li>
			<li><a href="#"><img src="img/tasc.jpg" alt="The Alliance for Solar Choice"></a></li>
			<li><a href="#"><img src="img/education-dynamics.jpg" alt="Education Dynamics"></a></li>
			<li><a href="#"><img src="img/uconn.jpg" alt="Unniversity of Connecticut"></a></li>
		</ul>
		<!-- <div class="testimonial">
			<img src="http://placehold.it/100x100" alt="">
			<blockquote>
				<p>Remio is the best!</p>
				<footer>
					<cite>Anne Stockton,<br />Harvard</cite>
				</footer>
			</blockquote>
		</div>   -->
	</div>
</div>
<!-- <div class="case-study">
	<div class="container">
		<h2>Case Study</h2>
		<div class="column">
			<p>Sagittis ac fermentum parturient at leo lectus eu feugiat sociosqu in taciti ad dis a a. Ac a non habitasse vulputate vestibulum libero quis a a interdum at a erat adipiscing condimentum et hendrerit suscipit parturient vestibulum id non. Et laoreet suspendisse purus cubilia auctor vehicula orci massa venenatis ac mauris a est praesent. Vel per turpis fermentum per ultricies parturient iaculis a facilisi sit varius ligula ipsum nostra himenaeos penatibus.</p>
			<a class="button button-hover-dark" href="#">Read More</a>
		</div>
		<div class="column">
			<img class="center" src="img/ned-phone.png" alt="Wanted: Ned or Alive">
		</div>
	</div>
</div> -->
<div class="contact" id="contact">
	<div class="container">
		<h2>Let's Talk.</h2>
		<div class="col-1">
			<form>
				<label for="">Name</label>
				<input type="text">
				<label for="">Email</label>
				<input type="text">
				<label for="">Message</label>
				<textarea name="" id=""></textarea>
				<button type="submit">Submit</button>
			</form>
		</div>
		<div class="col-2">
			<p>But the spine. For that, the best way we can consider it is, with a crane, to pile its bones high up on end. No speedy enterprise. But now it’s done, it looks much like Pompey’s Pillar.</p>
			<i class="fa fa-envelope"></i> <a href="mailto:sales@remio.com">sales@remio.com</a><br />
			<i class="fa fa-twitter"></i> <a href="http://twitter.com/teamremio">@teamremio</a><br />
			<i class="fa fa-github"></i> <a href="http://github.com/teamremio">github.com/teamremio</a><br />
		</div>
	</div>
</div>
{% include footer.html %}